body {
    background-color: #889B93;
    color: #362419;
    font-family: Garamond, serif;
    text-align: center;
}

h1 {
    background-color: #CFCFCD;
}

img {
    border: 5px dashed #354242;
    padding: 20px;
    width: 200px;
    height: auto;
}